*{
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
}
body{
    background-color: rgba(216, 216, 216, 0.582);
    
}
.hero{
    display: flex;
    justify-content: center;
    gap: 65px;
    height: 700px;
}
.lefthero img{
    margin-top: 60px;
    border: 1px solid box;
}
.righthero{
   
    background-color: white;
    height: 475px;
    display: block;
    position: relative;
    
    width: 300px;
    align-self: center;
}
.subdiv{
    margin-top: 100px;
    background-color: white;
    text-align: center;
    height: 50px;
    align-items: center;
    width: 280px;
    
    justify-content: center;
    padding: 10px;
    display: grid;
    position: absolute;
}
p{
    text-align: center;
}
.getapp{
    margin-bottom: 30px;
    
    position: absolute;

}
h2{
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
}
#img1{
    width: 150px;
    height: 60px;
}
#img2{
    width: 150px;
    height: 60px;
}
.last{
    /* display: flex; */
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 185px;
    cursor: pointer;

}
.appimgs{
    margin-top: 15  px;
    cursor: pointer;
    display: flex;
    gap: 10px;

}

form{
    justify-content: center;
}
#btn{
    background-color: lightskyblue;
    color: white;
}
input,button{
    margin-top: 10px;
    align-self: center;
    margin-left: 40px;
    align-items: center;
    width: 230px;
    height: 40px;
    cursor: pointer;
    /* row-gap: 65px; */
    font-size: 13px;
    margin-top: 30px;
}

footer{
    padding: 30px;
    text-align: center;
    margin: 100px;  
    /* justify-content: space-evenly; */
gap: 65px;
}
footer a{
    bottom: 0;
justify-content: space-between;
margin-left: 30px;
    text-decoration: none;
    color: black;
}